version: '3.4'

services:
  ndi-api:
    image: ${DOCKER_REGISTRY-}ndiapi
    container_name: ndi-api
    build:
      context: .
      dockerfile: NDI.Api.Api/Dockerfile
    ports: ['5000:80']
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - enable_cors=true
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - "./.files:/files"


  ndi-db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: ndi-db
    user: root
    ports:
      - 1434:1433
    volumes:
      - ./.sqlserver/mssql/data:/var/opt/mssql/data:rw
      - ./.sqlserver/backup:/var/opt/mssql/backup/output:rw
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=b81230ef-2ae4-4da0-8442-d3e89463c2fc


